__pycache__/
*.py[cod]

# Development-only files
tests/
docs/
tools/

# Rime generated/local files
build/
*.userdb/
*.userdb.*
*.prism.bin
*.table.bin
*.reverse.bin
installation.yaml
user.yaml
sync/
trash/
